# See http://help.github.com/ignore-files/ for more about ignoring files.

.editorconfig
tsconfig.app.json
tsconfig.spec.json

.vscode
.angular/cache
.history

/dist
/build
/node_modules

#PHP server

composer.phar
composer.lock
phpunit.phar

bin/vendor
bin/logs/*
bin/phpunit.xml

# OS

.DS_Store
Thumbs.db